Vamos a usar un dataset nuevo para este ejercicio. Consiste en el recuento de votos por candidato de las elecciones primarias de Noviembre 2016 en EEUU

In [6]:
votos = pd.read_csv("data/primary_results.csv")

In [7]:
votos.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

El dataset consta de las siguientes columnas:

- *state* el estado
- *state_abbreviation* abreviatura del nombre del estado
- *county* el condado
- *fips* el identificador del condado
- *party* el partido del candidato
- *candidate* el nombre del candidato
- *votes* los votos que dicho candidato tuvo en el condado
- *fraction_votes* el porcentaje de votos respecto al total del condado que tuvo dicho candidato

<hr>

¿ En total, que porcentaje de votos obtuvieron demócratas y republicanos en el país?

<hr>

¿Quién es el candidato demócrata que gano más votos en manhattan?, ¿y en el estado de nueva york?

<hr>

¿Cuantos votos obtuvo Donald Trump en Texas?

<hr>

Hay un archivo adicional que contiene el indice de pobreza por condado en EEUU (descargado de [aqui](https://www.ers.usda.gov/data-products/county-level-data-sets/county-level-data-sets-download-data/)), `PovertyEstimates.csv`

In [56]:
df_pobreza = pd.read_csv("data/PovertyEstimates.csv")

¿Cual es el índice de pobreza medio por condado y partido?

<hr>

Consideremos estados demócratas aquellos donde los candidatos demócratas tuvieron más votos y estados republicanos aquellos donde fueron los republicanos los que obtuvieron más votos. ¿Cuales son demócratas y cuales republicanos?

*pista: una manera de averiguar los estados que son democratas y republicanos es con pivot_table, usando la funcion aggregadora `aggfunc="sum"`*

<hr>

In [30]:
votos_por_partido = pd.pivot_table(votos, values=["votes"], index="state",
                                   columns="party", aggfunc="sum")["votes"].reset_index()

In [32]:
estados_democratas = votos_por_partido[votos_por_partido.Democrat> votos_por_partido.Republican].state.unique()
estados_republicanos = votos_por_partido[votos_por_partido.Democrat < votos_por_partido.Republican].state.unique()

In [33]:
estados_democratas

array(['California', 'Connecticut', 'Delaware', 'Hawaii', 'Illinois',
       'Kentucky', 'Louisiana', 'Maryland', 'Massachusetts', 'New Jersey',
       'New Mexico', 'New York', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'Vermont', 'West Virginia'], dtype=object)

In [34]:
estados_republicanos

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'Florida', 'Georgia',
       'Idaho', 'Indiana', 'Iowa', 'Kansas', 'Michigan', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'North Carolina', 'Ohio', 'Oklahoma', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Virginia',
       'Washington', 'Wisconsin', 'Wyoming'], dtype=object)

¿En cuantos de los estados republicanos fue Donald Trump el candidato republicano más votado?

<hr>

In [49]:
votos_republicanos = votos[votos.party=="Republican"]

In [50]:
ganador_por_estado_republicano = (votos_republicanos[votos_republicanos.state.isin(estados_republicanos)]
 .groupby(["state", "candidate"], as_index=False)["votes"]
 .sum()
.sort_values(by=["state", "votes"], ascending=[True, False])
.groupby("state", as_index=False).head(1)
)
ganador_por_estado_republicano

              state     candidate    votes
1           Alabama  Donald Trump   371735
9            Alaska      Ted Cruz     7973
10          Arizona  Donald Trump   249916
14         Arkansas  Donald Trump   133144
18          Florida  Donald Trump  1077221
23          Georgia  Donald Trump   501707
30            Idaho      Ted Cruz   100942
31          Indiana  Donald Trump   590460
44             Iowa      Ted Cruz    51663
48           Kansas      Ted Cruz    35207
49         Michigan  Donald Trump   483751
53      Mississippi  Donald Trump   191755
57         Missouri  Donald Trump   382093
61          Montana  Donald Trump   114056
64         Nebraska  Donald Trump   121287
68           Nevada  Donald Trump    34531
75    New Hampshire  Donald Trump   100406
80   North Carolina  Donald Trump   458151
85             Ohio   John Kasich   956762
92         Oklahoma      Ted Cruz   157941
94   South Carolina  Donald Trump   239851
99     South Dakota  Donald Trump    44866
103       Tennessee  Donald Trump   332702
111           Texas      Ted Cruz  1239370
114            Utah      Ted Cruz   122567
116        Virginia  Donald Trump   355960
120      Washington  Donald Trump   403003
125       Wisconsin      Ted Cruz   531129
129         Wyoming      Ted Cruz      644

In [51]:
ganador_por_estado_republicano[ganador_por_estado_republicano.candidate=="Donald Trump"]

              state     candidate    votes
1           Alabama  Donald Trump   371735
10          Arizona  Donald Trump   249916
14         Arkansas  Donald Trump   133144
18          Florida  Donald Trump  1077221
23          Georgia  Donald Trump   501707
31          Indiana  Donald Trump   590460
49         Michigan  Donald Trump   483751
53      Mississippi  Donald Trump   191755
57         Missouri  Donald Trump   382093
61          Montana  Donald Trump   114056
64         Nebraska  Donald Trump   121287
68           Nevada  Donald Trump    34531
75    New Hampshire  Donald Trump   100406
80   North Carolina  Donald Trump   458151
94   South Carolina  Donald Trump   239851
99     South Dakota  Donald Trump    44866
103       Tennessee  Donald Trump   332702
116        Virginia  Donald Trump   355960
120      Washington  Donald Trump   403003

Open the airbnb_input.csv file and load it into a DataFrame. Then:

    Drop columns: survey_id, country, borough, bathrooms, minstay, name, last_modified, latitude, longitude, location
    Create a new column with code names for neighborhoods (neighborhood_code):
        the code names are the first three letters of the neighborhood name
        capitalized
        don't mind the accents
    Create a new column with the price per person (price_per_person):
        use the price and accommodates columns to get to the result
        the result should be round to the unit

Now, we want to understand if the listings that are more expensive have better overall_satisfaction. To find that, let's do the following:

    Select all the listings that are entire properties
    Find which are the 3 neighborhoods with more listings and get the result as a list called top_neighborhoods
    Use the list top_neighborhoods to select only the listings from those neighborhoods
    Group the listings by neighborhood_code and overall_satisfaction score and get the average price per person for each group

After you've taken a moment to think about the results, let's improve our analysis:

    Repeat the process above, but after filtering the top_neighborhoods, also drop all the listings that have less than 5 reviews

Vamos a usar a

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/poblacion_lisboa.csv")

In [5]:
df

                       nombre        estado poblacion_2001 poblacion_2011
0                   Alcochete  Municipality          13,01         17,569
1                   Alcochete        Parish          9,094         12,239
2                     Samouco        Parish          2,788          3,143
3               São Francisco        Parish          1,128          2,187
4                      Almada  Municipality        160,825         174,03
5                      Almada        Parish         19,513         16,584
6                    Cacilhas        Parish           6,97          6,017
7                    Caparica        Parish         19,327         20,454
8        Charneca de Caparica        Parish         20,418         29,763
9           Costa da Caparica        Parish         11,708         13,418
10            Cova da Piedade        Parish         21,154         19,904
11                      Feijó        Parish         16,072         18,884
12                 Laranjeiro        Parish         21,175         20,988
13                     Pragal        Parish          7,721          7,156
14                    Sobreda        Parish         10,821         15,166
15                   Trafaria        Parish          5,946          5,696
16                    Amadora  Municipality        175,872        175,136
17                 Alfornelos        Parish         14,305         10,439
18                  Alfragide        Parish           8,74          9,904
19                    Brandoa        Parish         15,647         17,805
20                     Buraca        Parish         16,061         16,081
21                     Damaia        Parish          20,59         20,894
22                 Falagueira        Parish         14,436         14,531
23                       Mina        Parish         18,915         17,977
24                  Reboleira        Parish         15,543         14,344
25                   São Brás        Parish         20,694         26,263
26                 Venda Nova        Parish         11,334          8,359
27                   Venteira        Parish         19,607         18,539
28                   Barreiro  Municipality         79,012         78,764
29         Alto do Seixalinho        Parish         20,522         19,995
..                        ...           ...            ...            ...
199         Almargem do Bispo        Parish          8,417          8,983
200                     Belas        Parish         21,172         26,087
201                     Cacém        Parish            ...         21,289
202           Casal de Cambra        Parish          9,865         12,701
203                   Colares        Parish          7,472          7,628
204                   Massamá        Parish         28,176         28,112
205               Mira-Sintra        Parish            ...           5,28
206              Monte Abraão        Parish         22,041         20,809
207                Montelavar        Parish          3,645          3,559
208             Pero Pinheiro        Parish          4,712          4,246
209                    Queluz        Parish         27,913         26,248
210              Rio de Mouro        Parish         46,022         47,311
211  Santa Maria e São Miguel        Parish          9,274          9,364
212       São João das Lampas        Parish          9,665         11,392
213                São Marcos        Parish            ...         17,412
214              São Martinho        Parish          5,907          6,226
215   São Pedro de Penaferrim        Parish         10,449         14,001
216                  Terrugem        Parish          4,617          5,113
217       Vila Franca de Xira  Municipality        122,908        136,886
218                  Alhandra        Parish          7,205          6,047
219       Alverca do Ribatejo        Parish         29,086          31,07
220                Cachoeiras        Parish            769            766
221                Calhandriz        Parish            847            801
222   Castanheira do Ribatejo        Parish          7,258            7,5
223             Forte da Casa        Parish         10,979         11,056
224       Póvoa de Santa Iria        Parish         24,277         29,348
225       São João dos Montes        Parish          4,409          6,018
226                Sobralinho        Parish          4,165           5,05
227                  Vialonga        Parish         15,471         21,033
228       Vila Franca de Xira        Parish         18,442         18,197

[229 rows x 4 columns]