# Ejercicio - Selección de Variables

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from category_encoders import BinaryEncoder

pelis = pd.read_csv("data/movies.csv").drop(columns="titulo")

variable_objetivo = "ventas"
# eliminamos las peliculas sin ventas
pelis = pelis[pelis[variable_objetivo].notnull()]

variables_independientes = pelis.drop(variable_objetivo, axis=1).columns
pelis = BinaryEncoder().fit_transform(pelis)

pelis.head()

,genero_0,genero_1,genero_2,genero_3,genero_4,lenguaje_0,lenguaje_1,lenguaje_2,lenguaje_3,lenguaje_4,...,pais_2,pais_3,pais_4,pais_5,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos
0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,NaN,8.387519,76578911.0,106.0,5.7,173.0
1,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,NaN,0.894647,676525.0,106.0,6.7,13.0
2,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,3500000.0,14.569650,28215918.0,91.0,7.0,513.0
3,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,NaN,8.963037,32.0,87.0,6.0,124.0
4,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,12000000.0,9.592265,41205099.0,92.0,6.5,767.0

In [2]:
X = Imputer(strategy="mean").fit_transform(pelis.drop(variable_objetivo, axis=1))
y = pelis[variable_objetivo]

### Crear un Selector KBest con el criterio `f_regression` y transformar los datos y comprobar las dimensiones del nuevo dataset

In [3]:
from sklearn.feature_selection import SelectKBest, f_regression

selector_kbest5 = SelectKBest(f_regression, k=5)
datos_transformados = selector_kbest5.fit_transform(X, y)
datos_transformados.shape

(1203, 5)

### Crear un Selector RFE y entrenar con un Random Forest con las 10 mejores variables. ¿Que variables son las que se han elegido?

In [4]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE

In [5]:
estimador = RFE(RandomForestRegressor(), n_features_to_select=10)

In [6]:
estimador.fit(X, y)

RFE(estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
  n_features_to_select=10, step=1, verbose=0)

In [14]:
variables_independientes = pelis.drop(variable_objetivo, axis=1).columns
variables_independientes[estimador.support_]

Index(['genero_4', 'productores_1', 'productores_6', 'productores_8',
       'productores_9', 'presupuesto', 'popularidad', 'duracion', 'puntuacion',
       'n_votos'],
      dtype='object')