### Cargamos los datos

In [47]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from category_encoders import BinaryEncoder

pelis = pd.read_csv("data/movies.csv").drop(columns=["titulo"])
variable_objetivo = "ventas"

# hay peliculas sin la variable ventas
pelis = pelis[pelis[variable_objetivo].notnull()]

variables_independientes = pelis.drop(variable_objetivo, axis=1).columns


pelis.head()

,presupuesto,genero,lenguaje,popularidad,productores,pais,ventas,duracion,puntuacion,n_votos
0,NaN,Comedy,en,8.387519,Sandollar Productions,United States of America,76578911.0,106.0,5.7,173.0
1,NaN,Drama,en,0.894647,Miramax,South Africa,676525.0,106.0,6.7,13.0
2,3500000.0,Comedy,en,14.569650,New Line Cinema,United States of America,28215918.0,91.0,7.0,513.0
3,NaN,Comedy,en,8.963037,Paramount Pictures,United States of America,32.0,87.0,6.0,124.0
4,12000000.0,Comedy,en,9.592265,Universal Pictures,United States of America,41205099.0,92.0,6.5,767.0

In [48]:
pelis.shape

(1203, 10)

In [49]:
pelis = BinaryEncoder().fit_transform(pelis)
pelis.head()

,genero_0,genero_1,genero_2,genero_3,genero_4,lenguaje_0,lenguaje_1,lenguaje_2,lenguaje_3,lenguaje_4,...,pais_2,pais_3,pais_4,pais_5,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos
0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,NaN,8.387519,76578911.0,106.0,5.7,173.0
1,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,NaN,0.894647,676525.0,106.0,6.7,13.0
2,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,3500000.0,14.569650,28215918.0,91.0,7.0,513.0
3,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,NaN,8.963037,32.0,87.0,6.0,124.0
4,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,12000000.0,9.592265,41205099.0,92.0,6.5,767.0

In [50]:
X = Imputer(strategy="mean").fit_transform(pelis.drop(variable_objetivo, axis=1))
y = pelis[variable_objetivo]

In [51]:
variables_independientes

Index(['presupuesto', 'genero', 'lenguaje', 'popularidad', 'productores',
       'pais', 'duracion', 'puntuacion', 'n_votos'],
      dtype='object')

In [52]:
variables_arbol = pelis.drop(variable_objetivo, axis=1).columns

In [53]:
variables_arbol

Index(['genero_0', 'genero_1', 'genero_2', 'genero_3', 'genero_4',
       'lenguaje_0', 'lenguaje_1', 'lenguaje_2', 'lenguaje_3', 'lenguaje_4',
       'productores_0', 'productores_1', 'productores_2', 'productores_3',
       'productores_4', 'productores_5', 'productores_6', 'productores_7',
       'productores_8', 'productores_9', 'pais_0', 'pais_1', 'pais_2',
       'pais_3', 'pais_4', 'pais_5', 'presupuesto', 'popularidad', 'duracion',
       'puntuacion', 'n_votos'],
      dtype='object')

### Crear un modelo Arbol de Decision de profundidad máxima 5, entrenar y obtener imagen del arbol usando webgraphviz

In [54]:
variable_objetivo

'ventas'

In [55]:
from sklearn import tree

arbol = tree.DecisionTreeRegressor(max_depth=5).fit(X, y)

In [56]:
tree.export_graphviz(arbol, out_file="arbol.dot", filled=True,
            feature_names=variables_arbol
)

###  Cuales son las las variables más importantes para el modelo?

In [57]:
arbol.feature_importances_

array([0.        , 0.00513785, 0.        , 0.        , 0.00116165,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01505951, 0.02335171, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.16057297, 0.01258194, 0.0211535 , 0.00451985,
       0.75646102])

In [58]:
variables_arbol

Index(['genero_0', 'genero_1', 'genero_2', 'genero_3', 'genero_4',
       'lenguaje_0', 'lenguaje_1', 'lenguaje_2', 'lenguaje_3', 'lenguaje_4',
       'productores_0', 'productores_1', 'productores_2', 'productores_3',
       'productores_4', 'productores_5', 'productores_6', 'productores_7',
       'productores_8', 'productores_9', 'pais_0', 'pais_1', 'pais_2',
       'pais_3', 'pais_4', 'pais_5', 'presupuesto', 'popularidad', 'duracion',
       'puntuacion', 'n_votos'],
      dtype='object')

In [59]:
sorted(zip(arbol.feature_importances_,
           variables_arbol))

[(0.0, 'genero_0'),
 (0.0, 'genero_2'),
 (0.0, 'genero_3'),
 (0.0, 'lenguaje_0'),
 (0.0, 'lenguaje_1'),
 (0.0, 'lenguaje_2'),
 (0.0, 'lenguaje_3'),
 (0.0, 'lenguaje_4'),
 (0.0, 'pais_0'),
 (0.0, 'pais_1'),
 (0.0, 'pais_2'),
 (0.0, 'pais_3'),
 (0.0, 'pais_4'),
 (0.0, 'pais_5'),
 (0.0, 'productores_0'),
 (0.0, 'productores_1'),
 (0.0, 'productores_2'),
 (0.0, 'productores_3'),
 (0.0, 'productores_4'),
 (0.0, 'productores_5'),
 (0.0, 'productores_8'),
 (0.0, 'productores_9'),
 (0.001161654993724173, 'genero_4'),
 (0.004519854367145865, 'puntuacion'),
 (0.005137845503020267, 'genero_1'),
 (0.012581937049572696, 'popularidad'),
 (0.015059508009177188, 'productores_6'),
 (0.02115350241638659, 'duracion'),
 (0.023351705857555995, 'productores_7'),
 (0.16057297002894505, 'presupuesto'),
 (0.7564610217744722, 'n_votos')]